.typing-animation {
    animation: blinkCursor 500ms steps(50) infinite normal, typing 1s steps(50) 1s normal both;
}

.line {
    /* Animação de digitação */
    border-right: 2px solid rgba(105, 105, 105, .75);
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 768px) {
    .line {
        margin-left: 0.7em;
        margin-right: 1em;
    }
}

@media (min-width: 1200px) {
    .line {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(105, 105, 105, .75);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 8.4em;
    }
}