.progresso-magia {
    background-color: black;
    height: 15px;
    position: relative;
}

.progresso-magia p {
    color: white;
    font-size: 10px;
    margin-right: 2px;
    text-align: right;
}

.progresso-magia .barra-progresso-magia60 p,
.progresso-magia .barra-progresso-magia70 p,
.progresso-magia .barra-progresso-magia80 p,
.progresso-magia .barra-progresso-magia90 p {
    margin-top: 1px;
}

.progresso-magia .barra-progresso-magia30,
.progresso-magia .barra-progresso-magia50,
.progresso-magia .barra-progresso-magia60,
.progresso-magia .barra-progresso-magia70,
.progresso-magia .barra-progresso-magia80,
.progresso-magia .barra-progresso-magia90 {
    animation-fill-mode: forwards;
    background: linear-gradient(to right, #1d976c, #93f9b9);
    height: 100%;
    position: absolute;
}

.barra-progresso-magia30 {
    animation: progress-animation-30 1s 1;
}

.barra-progresso-magia50 {
    animation: progress-animation-50 1s 1;
}

.barra-progresso-magia60 {
    animation: progress-animation-60 1s 1;
}

.barra-progresso-magia70 {
    animation: progress-animation-70 1s 1;
}

.barra-progresso-magia80 {
    animation: progress-animation-80 1s 1;
}

.barra-progresso-magia90 {
    animation: progress-animation-90 1s 1;
}

@keyframes progress-animation-30 {
    0% {
        width: 0%;
    }
    100% {
        width: 30%
    }
}

@keyframes progress-animation-50 {
    0% {
        width: 0%;
    }
    100% {
        width: 50%
    }
}

@keyframes progress-animation-60 {
    0% {
        width: 0%;
    }
    100% {
        width: 60%
    }
}

@keyframes progress-animation-70 {
    0% {
        width: 0%;
    }
    100% {
        width: 70%
    }
}

@keyframes progress-animation-80 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%
    }
}

@keyframes progress-animation-90 {
    0% {
        width: 0%;
    }
    100% {
        width: 90%
    }
}